[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
policyvault = "DiWRnGf1JpqZrL8n9dUA9bUaJ4ruBVvmmKBcrdp7tJLD"

[programs.devnet]
policyvault = "DiWRnGf1JpqZrL8n9dUA9bUaJ4ruBVvmmKBcrdp7tJLD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "../../.keypairs/deployer.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
