[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
policyvault = "GSzcBxsU64WAVqEFmjdbb8mp5xsz9a1jawZW1Z63z2GK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "../../.keypairs/deployer.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
