[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
programs_policyvault = "Em3rP8zzX1FXFKCs1AfyxBjQbKwP3CG6MEhzY9XczPja"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
